* {
  box-sizing: border-box;
}

body{
  font-family:'Merriweather',sans-serif;
  color: #000;
}

form{
  max-width: 1000px;
  margin: 10px auto;
}

fieldset{
  border: none;
}
.main_header{
  margin-top: 0;
  padding: 0;
  border-bottom: 4px solid #404040;
}
.main{
  text-align: center;
  text-transform: uppercase;
  background-color: #404040;
  color:#fff;
  padding: 25px 20px;
  margin: -8px -8px;
  font-size: 1.4em;
  margin-bottom: 30px;
}

h2{
  text-align: center;
  color: #333333;
  font-size: 1.4em;
  padding-bottom: 5px;
}

p{
  text-align: center;
  font-size: 1.1em;
  color: #a6a6a6;
  padding: 0 5px 5px 5px;
  margin: 15px auto 30px;
}

hr{
  margin-top: 3px;
  margin-bottom: 30px;
  border-bottom: 1px solid #404040;
}

.title{
  color:#262626;
  text-align: left;
  font-size: 1.4em;
  font-weight:bold;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select{
  border: none;
  font-size: 1em;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 20px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.03) ;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 2px;
}

input:focus,
textarea:focus{
  border: 2px solid #808080;
}

::-webkit-input-placeholder {
   text-align: right;
}
textarea::-webkit-input-placeholder{
  text-align: left;
}

label{
  font-size: 1.25em;
  color: #a6a6a6;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus{
  background-color: #f2f2f2 ;
}

.zip{
  max-width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 10px 4px 8px 0;
  padding:0;
}

.btn{
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  background-color: #33cccc;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
footer{
  text-align: center;
  font-style: italic;
  color: #a6a6a6;
  font-size: .7em;
}


/* Media queries */


@media (min-width:768px){
  form{
    max-width: 650px;
    margin:0 auto;
  }

  body{
    background-image: url(../form.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
  }

  .main_header{
    border-bottom:none;
  }

  .main_header p{
    border-bottom: 4px solid #404040;
    max-width: 650px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }

  hr{
    max-width: 650px;
    margin-bottom: 35px;
  }

  label{
    margin-top: 10px;
  }
  input[type="text"],
	input[type="email"],
	input[type="tel"], select {
	   display: inline-block;
	   float: right;
	   width: 70%;
	   margin-bottom: 20px;
	}

  input[id="zip"] {
	width: 25%;
	float: left;
	}

  .media {
		float: left;
		width: 30%;
    margin-top: 25px;
   	margin-bottom: 20px;
		clear: both;
	}
}
